@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&display=swap');
body{
  margin: 0;
  padding: 0;
  font-family: montserrat;
  box-sizing: border-box;
  font-size: 400;
}
*{
  margin: 0
}
.containerAll{
  display: flex;
}
.main{
  width: 70%;
  padding: 20px;
  padding-bottom: 0;
}
.sidebar{
  width: 30%;
  background-color: #FBFBF9;
}

/* Main */
h1{
  font-size: 0;
  margin-bottom: 10px;
}
#logoWacDo{
  width: 20%;
  transform: rotate(180deg);
  margin-bottom: 50px;
}
h2{
  font-weight: 800;
  letter-spacing: -1px;
}
.pTop{
  font-size: 24px;
  margin-bottom: 25px;
}
/* Grid 1 */
.gridItems{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
/* Items*/
.itemBlock{
  margin: 5px;
  background-color: #F8F8F6;
  border-radius: 25px;
  height: 100px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.itemBlock:hover{
  color: white;
  background-color: #BF161D;
}
.itemContent{
  padding: 10px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
h3{
  font-size: 11px;
  margin-top: 5px;
}
.PromoText{
  font-size: 9px;
  margin-top: 5px;
  background-color: hsl(358, 79%, 55%);
  border-radius: 10%;
  padding: 2px 5px;
  width: fit-content;
}
.itemsBlockPics{
  width: 40%
}

/* Grid2 */
#h2Popular{
  margin: 25px 0;
}
.gridPopular{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.popularBlock{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70px;
  border-radius: 10px;
  text-align: center;
  /* margin-top: 15px; */
  margin: 5px;
  position: relative;
}
.popularBlock:hover{
  background-color: #F8F8F6;
}
.popPics{
  width: 30%;
  position: absolute;
  top: 10px;
}
h4{
  margin-top: 5px;
  font-size: 9px;
  position: absolute;
  top: 28px
}
.popPrice{
  font-size: 10px;
  position: absolute;
  bottom: 0;
  color: gold;
}
/* aside */
.sidebar{
  position: relative;
  padding: 0 10px;
}
#flagContainer{
  height: 120px;
}
#country{
  width: 20px;
  position: absolute;
  top: 30px;
  right: 20px;
}
.order{
  font-size: 15px;
  font-weight: 800;
}
hr{
  background-color: rgba(169, 169, 169, 0.335);
  border: none;
  height: 1px;
  margin: 20px 0;
}
/* Cart */
.cartItem{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cartPic{
  width: 20%;
  background-color: #fff;
  padding: 15px;
  border-radius: 15px;
}
.cartTitle, .cartPrice{
  margin-top: 5px;
  font-size: 11px;
}
.cartQuantityContainer{
  margin-top: 10px;
  display: flex;
  align-items: center;
  font-size: 10px;
  font-weight: 600;
}
.cartLess, .cartMore{
  border-radius: 10px;
}
.cartLess{
  padding: 4px 15px;
  background-color: #FBFBF9;
  border: 1px solid #b6b6af;
}
.cartMore{
  padding: 5px 15px;
  background-color: #FFCA40;
  border: none;
}
.cartQuantity{
  margin: 0 4px;
  width: 20px;
  border: none;
  text-align: center;
  background-color: #FBFBF9;
}

/* total */
.total{
  margin-top: 100px;
  text-align: center;
}
#submitBtn{
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 30px 25px;
  background-color: #FFCA40;
  border: none;
  border-radius: 25px;
}

/* MEDIA QUERIES */
@media screen and (min-width: 400px){
  .itemBlock{
    height: 110px;
  }
  h4{
    margin-top: 15px;
  }
}
@media screen and (min-width: 500px) and (max-width: 900px){
  .itemBlock{
    margin: 10px auto;
    height: 120px;
    padding: 5px 0;
    width: 70%;
  }
  .popularBlock{
    height: 100px;
  }
  .popPics{
    width: 25%;
    top: 15px;
  }
  h4{
    top: 50px;
  }
  .popPrice{
    margin-bottom: 5px;
  }
  .order{
    margin-top: 70px;
  }
}
@media screen and (min-width: 901px){
  .main{
    padding: 30px;
    width: 85%;
  }
  .sidebar{
    width: 15%;
    padding: 0 30px;
  }
  #logoWacDo{
    width: 10%;
  }
  .gridItems{
    grid-template-columns: 1fr 1fr 1fr;
  }
  .itemBlock{
    margin: 15px auto;
    width: 70%;
    height: 120px;
  }
  .gridPopular{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .popularBlock{
    height: 120px;
    width: 50%;
    margin: 20px auto;
  }
  .popPics{
    top: 15px;
    margin-bottom: 40px;
    width: 3em;
  }
  h4{
    top: 60px;
  }
  .popPrice{
    margin-bottom: 15px;
  }
  .order{
    margin-top: 70px;
  }
}